{% extends 'base.html' %}
{% load humanize %}

{% block title %} | Welcome Page {% endblock %}

{% block content %}

<section id="showcase">
    <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Welcome Page
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</p>
    </div>
</section>

<br />
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="listings" class="py-5 text-white">
  <div class="container text-center">
      <i class="fas fa-shopping-cart fa-2x">&nbsp;Item Terbaru</i>
      <hr> 
      <div class="row text-left">
        
        {% if fjb %}
        
          {% for jualan in fjb %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ jualan.gambar.url }}" alt="">
                <div class="card-img-overlay" style="bottom: 60px;">
                  <h2>
                    <span class="badge badge-secondary text-white">Rp {{ jualan.harga | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ jualan.nama_item }}</h4>
                    <p style="color:black">
                      <i class="fas fa-map-marker text-secondary"></i>{{ jualan.alamat }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Kartu: {{ jualan.jumlah_kartu }} </div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> {{ jualan.pengguna }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-8">
                      <i class="fas fa-clock"></i> {{ jualan.tanggal | timesince }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'jualan' jualan.id %}" class="btn btn-primary btn-block"">Selengkapnya..</a>
                </div>
              </div>
            </div>
  
          {% endfor %}
  
          {% else %}
            <div class="col-md-12">
              <p>No Item Available</p>
            </div>
          {% endif %}
  
        </div>
  </section>
  


{% endblock %}